<div th:fragment="companyCard(company)">
    <div class="col">
        <div class="card h-100">
            <!-- Card base with arrow on the right -->
            <div class="card-body d-flex align-items-center justify-content-between">
                <!-- Card content -->
                <div class="w-100 d-lg-flex align-items-center">
                    <!-- Company name, logo, and description -->
                    <div class="col d-flex align-items-center">
                        <div class="companylogo companylogo-md me-3">
                            <img th:src="@{'/company/logo/' + ${company.id}}" alt="Company Logo" class="img-fluid"/>
                        </div>
                        <div>
                            <a th:href="@{'/companies/' + ${company.id}}" class="text-decoration-none text-black">
                                <h5 class="card-title" th:text="${company.name}">Company Name</h5>
                            </a>
                            <div class="description-short" th:unless="${company.description.isEmpty()}">
                                <p class="card-text text-secondary" th:text="${company.description}"></p>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="float-lg-end mt-3 mt-lg-0 ms-0 ms-lg-3">
                        <!-- Delete Button (Admin Only) -->
                        <div sec:authorize="hasRole('ADMIN')">
                            <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                th:data-bs-target="'#deleteCompanyModal'+${company.id}">
                                <i class="bi bi-trash3"></i>
                                <span th:text="#{delete}">Delete</span>
                            </button>

                            <!-- Delete Confirmation Modal -->
                            <div th:replace="fragments/components/danger-modal :: dangerModal(
                                'deleteCompanyModal'+${company.id},
                                'bi bi-trash3',
                                #{deleteCompany},
                                #{deleteCompanyWarning},
                                '/companies/delete/' + ${company.id})"></div>
                        </div>

                        <!-- Create Transaction Button (Student Role Only) -->
                        <a sec:authorize="hasRole('STUDENT')" th:if="${@accessEvaluator.hasCompany()}" th:href="@{'/transaction/' + ${company.id} + '/create'}"
                            class="btn btn-light">
                            <i class="bi bi-cart-plus"></i>
                            <span th:text="#{createTransaction}">Create Transaction</span>
                        </a>
                    </div>
                </div>

                <!-- Chevron Icon -->
                <a th:href="@{'/companies/' + ${company.id}}" class="text-decoration-none">
                    <i class="bi bi-chevron-right text-black ms-3" style="font-size:2rem;"></i>
                </a>
            </div>
        </div>
    </div>
</div>
