<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/base :: page">

<head>
	<th:block th:fragment="title">
		<title>Trintel</title>
	</th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<th:block th:fragment="content">
		<div class="d-lg-flex justify-content-between align-items-start mb-3">
			<div>
				<h1 th:text="#{transactionProgress}"></h1>
				<h5 class="mb-3 text-secondary"
					th:text="|${actions[0].transaction.buyer.name} #{buying} ${actions[0].transaction.product} #{from} ${actions[0].transaction.seller.name}|">
				</h5>
			</div>
			<a class="btn btn-secondary" th:href="@{'/pdfexport/transaction/' + ${transactionID}}">
				<i class="bi bi-file-earmark-arrow-down"></i>
				<span th:text="#{exportTransaction}">
			</a>
		</div>
		<!-- Accordion for every action in chosen transaction to visualize transaction progress -->
		<div th:unless="${actions.isEmpty()}">
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div th:each="action: ${actions}">
					<div class="accordion-item mb-3">
						<!-- Accordion header/button -->
						<div class="accordion-header" th:id="'panelsStayOpen-headingOne'+${action.id}">
							<button class="accordion-button"
								th:classappend="${{action.id == actions[#lists.size(actions)-1].id} ? '':'collapsed'}"
								type="button" data-bs-toggle="collapse"
								th:data-bs-target="'#panelsStayOpen-collapseOne'+${action.id}"
								th:aria-labelledby="'panelsStayOpen-headingOne'+${action.id}" aria-expanded="true"
								th:aria-controls="'panelsStayOpen-collapseOne'+${action.id}">
								<div th:with="resolvedText=${#messages.msgOrNull('actiontype.' + action.actiontype.name)}">
									<h4>
										<div class="badge me-3" th:classappend="'bg-' + ${action.actiontype.colorClass != null ? action.actiontype.colorClass : 'secondary'}"
											th:text="${resolvedText != null ? resolvedText : action.actiontype.name}"/>
									</h4>
								</div>
								<div class="me-5">
									<span class="text-muted fs-6" th:text="#{initiatingCompany}"></span>
									<span class="text-black">
										<h5 class="text-break" th:text="${action.initiator.company.name}"></h5>
									</span>
								</div>
								<div class="me-5">
									<span class="text-muted fs-6" th:text="#{date}"></span>
									<span class="text-black">
										<h5 th:text="${#temporals.format(action.date, 'dd-MM-yyyy')}"></h5>
									</span>
								</div>
								<div>
									<span class="text-muted fs-6" th:text="#{time}"></span>
									<span class="text-black">
										<h5 th:text="${#temporals.format(action.time, 'HH:mm')}"></h5>
									</span>
								</div>
							</button>
						</div>
						<!-- Accordion body -->
						<div th:id="'panelsStayOpen-collapseOne'+${action.id}" class="accordion-collapse collapse"
							th:classappend="${{action.id == actions[#lists.size(actions)-1].id} ? 'show':''}"
							th:aria-labelledby="'panelsStayOpen-headingOne'+${action.id}">
							<div class="accordion-body d-flex">
								<div class="me-5" sec:authorize="hasRole('ADMIN')">
									<span class="text-muted fs-6" th:text="#{initiatingStudent}"></span>
									<span class="text-black">
										<h5 th:text="${action.initiator.forename} + ' ' + ${action.initiator.surname}">
										</h5>
									</span>
								</div>
								<div class="me-5">
									<span class="text-muted fs-6" th:text="#{date}"></span>
									<span class="text-black">
										<h5 th:text="${#temporals.format(action.date, 'dd-MM-yyyy')}"></h5>
									</span>
								</div>
								<div>
									<span class="text-muted fs-6" th:text="#{time}"></span>
									<span class="text-black">
										<h5 th:text="${#temporals.format(action.time, 'HH:mm')}"></h5>
									</span>
								</div>
							</div>
							<div class="accordion-body d-flex">
								<!-- <div class="me-5" th:unless="${action.actiontype.name == 'Request'}"> -->
								<!-- 	<span class="text-muted fs-6" th:text="#{amount}"></span> -->
								<!-- 	<div th:if="${action.actiontype.name == 'Offer'}"> -->
								<!-- 		<span class="text-black"> -->
								<!-- 			<h5 th:text="${action.amount}"></h5> -->
								<!-- 		</span> -->
								<!-- 	</div> -->
								<!-- 	<div th:unless="${action.actiontype.name == 'Offer'}"> -->
								<!-- 		<span class="text-black"> -->
								<!-- 			<h5 th:text="${action.transaction.amount}"></h5> -->
								<!-- 		</span> -->
								<!-- 	</div> -->
								<!-- </div> -->
								<div th:unless="${action.actiontype.name} == 'Request'" class="me-5">
									<span class="text-muted fs-6" th:text="#{total}"></span>
									<div th:if="${action.actiontype.name == 'Offer'}">
										<span class="text-black">
											<h5 th:text="${action.pricePerPiece} + ' €'"></h5>
										</span>
									</div>
									<div th:unless="${action.actiontype.name == 'Offer'}">
										<span class="text-black">
											<h5 th:text="${action.transaction.pricePerPiece} + ' €'"></h5>
										</span>
									</div>
								</div>
								<div>
									<span class="text-muted fs-6" th:text="#{message}"></span>
									<span class="text-black">
										<h5 th:utext="${#strings.replace(#strings.escapeXml(action.message),'&#10;','&lt;br&gt;')}" class="text-break"></h5>
									</span>
								</div>
							</div>
							<div class="accordion-body">
								<th:block th:unless="${action.attachedFiles.isEmpty()}">
									<th:block th:each="file : ${action.attachedFiles}">
										<a class="btn btn-secondary" th:href="@{'/download/attachment/' + ${file.id}}">
											<i class="bi bi-file-earmark-arrow-down"></i>
											<span th:text="${file.fileName}"></span> <!-- TODO CHRIS alle Elemente in der Liste hier laden, nicht nur idx 0 -->
										</a>
									</th:block>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Buttons to react to last action for student -->
		<div sec:authorize="hasRole('STUDENT')">
			<div class="d-md-flex justify-content-center">
				<div th:each="actiontype: ${actiontypes}">
					<div th:if="${actiontype.name} == 'Offer'">
						<!-- "Offer" button -->
						<a th:href="@{'/transaction/' + ${transactionID} + '/addOffer'}">
							<button type="button" class="btn btn-primary me-3 mb-3 mb-md-0">
								<i class="bi bi-cart-plus"></i> <span th:text="#{offerNA}"></span>
							</button>
						</a>
					</div>
					<div th:unless="${actiontype.name} == 'Offer'" th:with="resolvedText=${#messages.msgOrNull('actiontype.' + actiontype.name)}">
						<!-- Generic Modal -->
						<button type="button" class="btn me-3 mb-3 mb-md-0" data-bs-toggle="modal"
							th:data-bs-target="'#modal-' + ${actiontype.name}"
							th:classappend="'btn-' + ${actiontype.colorClass != null ? actiontype.colorClass : 'primary'}">
							<i class="" th:classappend="${actiontype.iconClass != null ? actiontype.iconClass : 'fa fa-solid fa-circle'}"></i>
							<span th:text="${resolvedText != null ? resolvedText : actiontype.name}"></span>
						</button>
						<div class="modal fade" th:id="'modal-' + ${actiontype.name}" tabindex="-1" th:aria-labelledby="'modallabel-' + ${actiontype.name}"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:id="'modallabel-' + ${actiontype.name}"
											th:text="${resolvedText != null ? resolvedText : actiontype.name}">
										</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<form action="#" th:object="${action}"
										th:action="@{'/transaction/' + ${transactionID} + '/action/' + ${actiontype.id}}" method="post"
										enctype="multipart/form-data">
										<div class="modal-body">
											<textarea class="form-control" th:field="*{message}"
												th:placeholder="#{optMessage}"></textarea>
											<input name="attachment" multiple="multiple" placeholder="Company logo"
												class="form-control mt-3" type="file" id="attachment">
										</div>
										<div class="modal-footer">
											<button type="submit" class="w-100 btn btn-lg btn-primary"
												th:text="#{confirm}"></button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${specialActionsAvailable}">
					<a th:href="@{'/transaction/' + ${transactionID} + '/addAction'}">
						<button class="btn btn-primary me-3 mb-md-0">
							<i class="bi bi-three-dots"></i> <span th:text="#{specialActions}"></span>
						</button>
					</a>
				</div>
			</div>
		</div>
		<th:block th:unless="${actions[0].transaction.ratings.isEmpty()}">
			<h3 th:text="#{ratingsForTransaction}"></h3>
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3 mb-3">
				<th:block th:each="r : ${actions[0].transaction.ratings}">
					<div class="col">
						<div class="card">
							<div class="card-body d-flex flex-column align-items-start">
								<!-- Card content -->
								<div class="mb-1">
									<span class="star"
										th:classappend="${r.stars == 5 ? 'star-checked star-5-checked' : ''}"></span>
									<span class="star"
										th:classappend="${r.stars == 4 ? 'star-checked star-4-checked' : ''}"></span>
									<span class="star"
										th:classappend="${r.stars == 3 ? 'star-checked star-3-checked' : ''}"></span>
									<span class="star"
										th:classappend="${r.stars == 2 ? 'star-checked star-2-checked' : ''}"></span>
									<span class="star"
										th:classappend="${r.stars == 1 ? 'star-checked star-1-checked' : ''}"></span>
								</div>
								<!-- Company name, logo -->
								<div class="col d-flex align-items-center">
									<div class="companylogo companylogo-xs me-2">
										<img th:src="@{'/company/logo/' + ${r.ratingCompany.id}}" />
									</div>
									<div>
										<a th:href="@{'/companies/' + ${r.ratingCompany.id}}"
											class="text-decoration-none text-black" th:text="${r.ratingCompany.name}">
										</a>
										<span class="badge bg-secondary"
											th:if="${r.transaction.seller.id.equals(r.ratingCompany.id)}"
											th:text="#{seller}"></span>
										<span class="badge bg-secondary"
											th:if="${r.transaction.buyer.id.equals(r.ratingCompany.id)}"
											th:text="#{buyer}"></span>
									</div>
								</div>
							</div>
						</div>
						</a>
					</div>
				</th:block>
			</div>
		</th:block>
		<th:block
			th:if="${actions[actions.size() - 1].actiontype.name.equals('Paid') && !isAlreadyReviewed && !(#request.userPrincipal.principal.role == 'ADMIN')}">
			<div class="d-flex align-items-center justify-content-center flex-column gap-3" style="height:100vh">
				<form class="d-flex flex-column align-items-center"
					th:action="@{'/transaction/' + ${transactionID} + '/rate'}" method="post">
					<h3 class="mb-0" th:text="#{rateTransaction}"></h3>
					<div class="fs-3">
						<input class="star star-5" id="star-5" type="radio" name="rating" value="5" required />
						<label class="star star-5" for="star-5"></label>
						<input class="star star-4" id="star-4" type="radio" name="rating" value="4" />
						<label class="star star-4" for="star-4"></label>
						<input class="star star-3" id="star-3" type="radio" name="rating" value="3" />
						<label class="star star-3" for="star-3"></label>
						<input class="star star-2" id="star-2" type="radio" name="rating" value="2" />
						<label class="star star-2" for="star-2"></label>
						<input class="star star-1" id="star-1" type="radio" name="rating" value="1" />
						<label class="star star-1" for="star-1"></label>
					</div>
					<button class="btn btn-primary center" type="submit" th:text="#{save}"></button>
				</form>
				<span class="alert alert-warning" style="max-width:25rem" th:text="#{rateConfirm}"></span>
			</div>
		</th:block>
		<th:block th:if="${param.rated}">
			<p class="alert alert-success" th:text="#{ratingSuccess}"></p>
		</th:block>
		<script th:src="@{/js/autoScrollDown.js}"></script>
	</th:block>
</body>

</html>
