<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/base-fullscreen :: page">

<head>
    <title th:fragment="title" th:text="#{resetPassword}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <h1 class="mb-4" th:text="#{resetPassword}"></h1>
            <p class="alert alert-success" th:if="${param.success}" th:text="#{resetLinkSent}"></p>
            <p class="alert alert-danger" th:if="${param.invalidToken}" th:text="#{invalidToken}"></p>
            <form th:action="@{/reset-password}" method="post">
                <div class="form-floating mb-3">
                    <input type="email" maxlength="255" class="form-control"
                    th:classappend="${param.success} ? 'is-valid'" id="floatingInputUsername" placeholder="Email"
                    name="email" th:value="${email}" th:disabled="${param.success}" required autofocus>
                    <label for="floatingInputUsername" th:text="#{email}"></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="w-100 btn btn-lg btn-primary mb-3" th:text="#{sendResetLink}" th:unless="${param.success}"></button>
                    <a th:href="@{/login}" class="w-100 btn btn-lg btn-light mb-3">
                        <i class="bi bi-arrow-left"></i> <span th:text="#{backToLogin}"></a>
                    </a>
                </div>
            </form>
        </main>
    </th:block>
</body>

</html>