<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/base-fullscreen :: page">

<head>
    <title th:fragment="title" th:text="#{resetPassword}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <h1 class="mb-4" th:text="#{resetPassword}"></h1>
            <p class="alert alert-success" th:if="${param.success}" th:text="#{resetSuccess}"></p>
            <form th:action="@{/reset-password/new/{token}(token=${param.token})}" method="post">
                <div class="form-floating mb-3">
                    <input type="password" maxlength="255" class="form-control" id="floatingPassword" placeholder="New password"
                        name="password" required>
                    <label for="floatingPassword" th:text="#{newPassword}"></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="w-100 btn btn-lg btn-primary mb-3" th:text="#{save}" th:unless="${param.success}"></button>
                </div>
            </form>
        </main>
    </th:block>
</body>

</html>