<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<nav class="navbar navbar-inverse fixed-top" th:fragment="navbar">
    <div class="container-fluid" >
        <div class="navbar-inner" th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <a sec:authorize="hasRole('ADMIN')" class="navbar-brand" th:href="@{/companies}">Companies</a>
            <a sec:authorize="hasRole('STUDENT')" class="navbar-brand" th:href="@{/company}">My Company</a>
            <a class="navbar-brand" th:href="@{/console}">H2 Console</a>
            <div th:if="${currentUser != null}">
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-primary" value="Logout" />
                </form>
                <p class="navbar-text navbar-right" th:text="${currentUser}">
                    example_user
                </p>
            </div>
        </div>
    </div>`
</nav>
</html>