<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <nav th:fragment="sidebar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky px-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active':''}" class="nav-link" th:href="@{/home}">
                    <i th:class="${#httpServletRequest.getRequestURI() == '/home' ? 'bi bi-house-fill':'bi bi-house'}"></i>
                    <span th:text="#{home}"/>
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/companies') ? 'active':''}" class="nav-link" th:href="@{/companies}">
                  <i th:class="${#httpServletRequest.getRequestURI().startsWith('/companies') ? 'bi bi-briefcase-fill':'bi bi-briefcase'}"></i>
                  <span th:text="#{companies}"/>
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/students' ? 'active':''}" class="nav-link" th:href="@{/students}">
                  <i th:class="${#httpServletRequest.getRequestURI() == '/students' ? 'bi bi-people-fill':'bi bi-people'}"></i>
                  <span th:text="#{students}"/>
                </a>
              </li>
              <li class="nav-item" th:with="companyID = ${#request.userPrincipal.principal.company.id}" sec:authorize="hasRole('STUDENT')">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/companies/' + {companyID} ? 'active':''}" class="nav-link" th:href="@{/company}">
                  <i th:class="${#httpServletRequest.getRequestURI() == '/companies/' + {companyID} ? 'bi bi-briefcase-fill':'bi bi-briefcase'}"></i>
                  <span th:text="#{myCompany}"/>
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/transactions' || #httpServletRequest.getRequestURI().startsWith('/transaction/') ? 'active':''}" class="nav-link" th:href="@{/transactions}">
                  <i th:class="${#httpServletRequest.getRequestURI() == '/transactions' || #httpServletRequest.getRequestURI().startsWith('/transaction/') ? 'bi bi-cart-fill':'bi bi-cart'}"></i>
                  <span th:text="#{transactions}"/>
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasRole('STUDENT')" th:with="companyID = ${#request.userPrincipal.principal.company.id}">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/transactions' || #httpServletRequest.getRequestURI().startsWith('/transaction/') || (#httpServletRequest.getRequestURI().startsWith('/companies') && #httpServletRequest.getRequestURI() != '/companies/' + {companyID}) ? 'active':''}" class="nav-link" th:href="@{/transactions}">
                  <i th:class="${#httpServletRequest.getRequestURI() == '/transactions' || #httpServletRequest.getRequestURI().startsWith('/transaction/') || (#httpServletRequest.getRequestURI().startsWith('/companies') && #httpServletRequest.getRequestURI() != '/companies/' + {companyID}) ? 'bi bi-cart-fill':'bi bi-cart'}"></i>
                  <span th:text="#{transactions}"/>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/console}">
                  <i class="bi bi-terminal"></i> H2 Console
              </a>
              </li>
            </ul>
            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Andere Links</span>
            </h6>
            <ul class="nav flex-column mb-2">
              hier können noch andere Links eingefügt werden, die nicht zur Nav gehören
            </ul> -->
            <ul class="logout-side nav flex-column mb-2" th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false" th:text="${currentUser}" th:if="${currentUser != null}"></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    <li>
                      <a class="dropdown-item" href="/settings" th:text="#{uSettings}"></a>
                    </li>
                    <form th:action="@{/logout}" method="post">
                      <input type="submit" class="dropdown-item p-0" th:value="#{logout}" />
                    </form>
                  </ul>
                </li>
          </ul>
          </div>
    </nav>
</html>