<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
	<th:block th:fragment="title"><title> Action - Add</title></th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
	<th:block th:fragment="content">
        <h1>Add action</h1>
        <form action="#" th:action="@{/action/save}" th:object="${actionType}" method="post">
            <div class="row mb-3">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" th:field="*{name}">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDescription" th:field="*{text}">
              </div>
            </div>
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">Available for</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="availableForRadios" id="gridRadios1" checked th:value="BUYER"  th:field="*{initiatorType}">
                  <label class="form-check-label" for="gridRadios1">
                    BUYER
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="availableForRadios" id="gridRadios2" th:value="SELLER"  th:field="*{initiatorType}">
                  <label class="form-check-label" for="gridRadios2">
                    SELLER
                  </label>
                </div>
              </div>
            </fieldset>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">submit</button>
            </div>
        </form>
    </th:block>
</body>
</html>