<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
	<th:block th:fragment="title">
		<title>Company Selection - Trintel</title>
	</th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
	<th:block th:fragment="content">
		<style th:replace="fragments/small-content :: content"></style>
		<main class="form-small">
			<h1 class="mb-4" th:utext="#{companySelection}"></h1>
			<p th:text="#{companySelectionText}"></p>
			<div th:unless="${companies.isEmpty()}">
				<div class="d-grid gap-2 w-100">
					<div th:each="company : ${companies}">
						<a th:href="@{'/company/select/' + ${company.id}}">
							<button type="button" class="btn btn-primary w-100" th:text="${company.name}"></button>
						</a>
					</div>
				</div>
			</div>
			<p th:if="${companies.isEmpty()}" th:text="#{noCompaniesFound}"></p>
	</th:block>
</body>

</html>