<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <title th:fragment="title" th:text="${company.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div
            class="d-md-flex justify-content-md-between flex-md-row-reverse align-items-md-start">
            <div class="companylogo companylogo-lg float-md-end mb-3 mb-md-0 ms-md-3 mx-auto mx-md-0">
                <img th:src="@{'/company/logo/' + ${company.id}}" />
            </div>
            <div class="col-md-9">
                <h1 th:text="${company.name}"></h1>
                <div th:unless="${company.getDescription().isEmpty()}">
                    <h5 th:text="#{description}"></h5>
                    <p class="mb-3" th:text="${company.description}"></p>
                </div>

                <h5 th:text="#{members}" th:unless="${company.getStudents().isEmpty()}"></h5>
                <ul class="list-group mb-3" th:unless="${company.getStudents().isEmpty()}">
                    <li class="list-group-item" th:text="${student.forename} + ' ' + ${student.surname}"
                        th:each="student : ${company.getStudents()}"></li>
                </ul>

                <p th:if="${company.getStudents().isEmpty()}" th:text="#{noMembers}"></p>
            </div>
        </div>
        <a class="float-end" th:href="@{/company/{id}/edit(id=${company.id})}" th:if="${#request.userPrincipal.principal.role} == 'ADMIN' or ${#request.userPrincipal.principal.company.id} == ${company.id}">
            <button class="btn btn-primary mt-md-3" type="submit" th:text="#{edit}"></button>
        </a>
    </th:block>
</body>

</html>