<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
    <title th:text="#{companyView}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <h3 class="mb-3" th:text="${company.name}"></h3>
            <form action="#" th:action="@{/company/join}" method="post">
                <input type="hidden" th:value="${company.name}" th:attr="name='companyName'" />
                <h5 class="mb-3" th:text="#{members}"></h5>
                <div class="card mb-3" th:unless="${company.getStudents().isEmpty()}">
                    <div class="text m-2 align-items-auto" th:each="student : ${company.getStudents()}">
                        <div th:unless="${company.getStudents().isEmpty()}">
                            <p class="card-text" th:text="${student.forename} + ' ' + ${student.surname}"></p>
                        </div>
                    </div>
                </div>
                <p th:if="${company.getStudents().isEmpty()}" th:text="#{noMembers}"></p>
                <div class="form-group">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">
                        <a th:text="#{join}"></a>
                    </button>
                </div>
            </form>
            <button class="w-100 btn btn-lg btn-light mt-3" onclick="history.back()">
                <i class="bi bi-arrow-left"></i> <a th:text=" #{back}"></a>
            </button>
        </main>
    </th:block>
</body>

</html>