<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
	<th:block th:fragment="title">
		<title>Companies - Trintel</title>
	</th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<th:block th:fragment="content">
		<h1 th:text="#{companies}"></h1>
		<p th:text="#{cldescr}"></p>
		<div th:unless="${companies.isEmpty()}">
			<div class="card mb-3" th:each="company : ${companies}">
				<div class="card-body d-lg-flex">
					<div class="col d-flex align-items-center">
						<img style="max-height: 5rem" th:src="@{/img/onlyicon.png}" />
						<div>
							<h5 class="card-title" th:text="${company.name}"></h5>
							<p class="card-text" th:text="${company.description}"></p>
						</div>
					</div>
					<div class="col mt-3 mt-lg-0">
						<div class="float-lg-end">
							<a th:href="@{/companies/{id}(id=${company.id})}" class="btn btn-light me-1">
								<i class="bi bi-three-dots"></i> <span th:text="#{details}" />
							</a>
							<a href="#" class="btn btn-danger">
								<i class="bi bi-trash3"></i> <span th:text="#{delete}" />
							</a>
							<a sec:authorize="hasRole('STUDENT')" th:href="@{'/transaction/' + ${company.id}} + '/create'" class="btn btn-light">
								<i class="bi bi-cart-plus"></i> <span th:text="#{createTransaction}" />
							</a>
							<!-- anzeige für studenten wird noch angepasst, habe ich noch weggelassen um merge conflict zu vermeiden -->	
						</div>
					</div>
				</div>
			</div>
		</div>

		<p th:if="${companies.isEmpty()}" th:text="#{noCompaniesFound}"></p>

		<div class="d-flex justify-content-center">
		<a class="btn btn-primary btn-lg" th:href="@{companies/add}" th:text="#{registerCompany}"></a>
	</div>
	</th:block>
</body>

</html>
