<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <title th:fragment="title" th:text="${company.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="d-md-flex justify-content-md-between align-items-md-start">
            <div class="col-auto">
                <div class="companylogo companylogo-lg mb-3 mb-md-0 me-md-3 mx-auto mx-md-0">
                    <img th:src="@{'/company/logo/' + ${company.id}}" />
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column align-items-center align-items-md-start">
                    <h1 th:text="${company.name}"></h1>
                    <th:block th:unless="${company.getHomepage() == null || company.getHomepage().isEmpty()}">
                        <a class="mb-3" th:href="${company.homepage}" target="_blank">
                            <i class="bi bi-link-45deg"></i><span th:text="${company.homepage}"></span>
                        </a>
                    </th:block>
                    <div class="d-flex align-items-center">
                        <th:block th:switch="${starType}">
                            <th:block th:case="1">
                                <input class="star star-1" type="radio" checked="checked" />
                                <label class="star star-1" for="star-1"></label>
                            </th:block>
                            <th:block th:case="2">
                                <input class="star star-2" type="radio" checked="checked" />
                                <label class="star star-2" for="star-2"></label>
                            </th:block>
                            <th:block th:case="3">
                                <input class="star star-3" type="radio" checked="checked" />
                                <label class="star star-3" for="star-3"></label>
                            </th:block>
                            <th:block th:case="4">
                                <input class="star star-4" type="radio" checked="checked" />
                                <label class="star star-4" for="star-4"></label>
                            </th:block>
                            <th:block th:case="5">
                                <input class="star star-5" type="radio" checked="checked" />
                                <label class="star star-5" for="star-5"></label>
                            </th:block>
                        </th:block>
                        <span class="fs-5 fw-bold" th:text="${avgRating}"></span>
                    </div>
                </div>
                <th:block th:unless="${company.getDescription() == null || company.getDescription().isEmpty()}">
                    <h5 th:text="#{signature}"></h5>
                    <p class="mb-3" th:text="${company.description}"></p>
                </th:block>
                <h5 th:text="#{members}"></h5>
                <ul class="list-group mb-3" th:unless="${company.getStudents().isEmpty()}">
                    <li class="list-group-item" th:text="${student.forename} + ' ' + ${student.surname}"
                        th:each="student : ${company.getStudents()}"></li>
                </ul>
                <p th:if="${company.getStudents().isEmpty()}" th:text="#{noMembers}"></p>
            </div>
        </div>
        <a class="btn btn-primary float-end" th:text="#{edit}" th:href="@{/company/{id}/edit(id=${company.id})}"
            th:if="${#request.userPrincipal.principal.role} == 'ADMIN' or ${#request.userPrincipal.principal.company.id} == ${company.id}">
        </a>
    </th:block>
</body>

</html>