<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
	<th:block th:fragment="title">
		<title>Companies - Trintel</title>
	</th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<th:block th:fragment="content">
		<h1>Companies</h1>
		<p>Manage all companies in the database. Add new companies with the button at the bottom.</p>
		<div th:unless="${companies.isEmpty()}">
			<div class="card mb-2" th:each="company : ${companies}">
				<div class="card-body d-md-flex">
					<div class="col-md-7 d-flex align-items-center">
						<img style="max-height: 5rem" th:src="@{/img/onlyicon.png}"/>
						<div>
						<h5 class="card-title" th:text="${company.name}"></h5>
						<p class="card-text mb-2 mb-md-auto" th:text="${company.description}"></p>
						</div>
					</div>
					<div class="col">
						<div class="float-md-end">
						<a href="#" class="btn btn-light me-2"><i class="bi bi-pencil-square"></i> Edit</a>
						<a href="#" class="btn btn-light"><i class="bi bi-info-lg"></i> View info</a>
					</div>
					</div>
				</div>
			</div>
		</div>

		<p th:if="${companies.isEmpty()}">No Companies found.</p>

		
			<a class="btn btn-primary btn-lg w-100" th:href="@{companies/add}">Add a company</a>
	
	</th:block>
</body>
</html>