<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
    <th:block th:fragment="title">
        <title>Create a new company - Trintel</title>
    </th:block>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <h1 th:text="#{editCompany}"></h1>
            <form action="#" th:action="@{/company/{id}/edit(id=${company.id})}" th:object="${company}" method="post"
                enctype="multipart/form-data">
                <div class="mb-3 card" style="padding: 1rem .75rem">
                    <label for="formFile" class="form-label mb-0" th:text="#{upNewLogo}"></label>
                    <span class="mb-2 text-secondary" th:text="#{recSize}"></span>
                    <input name="formFile" placeholder="Company logo" class="form-control" type="file" id="formFile">
                    <!-- form th:action="@{/company/logo/{id}/delete(id=${company.id})}" method="post"> -->
                        <button th:formaction="@{/company/logo/{id}/delete(id=${company.id})}" class="btn btn-danger mt-3" type="submit">
                            <i class="bi bi-trash3"></i>
                            <span th:text="#{deleteLogo}" />
                        </button>
                   <!-- </form> -->
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingName" placeholder="Company name"
                        th:field="*{name}">
                    <label for="floatingName" th:text="#{companyName}"></label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingDescr" placeholder="Company signature"
                        th:field="*{description}" style="height: 130px"></textarea>
                    <label for="floatingDescr" th:text="#{signature}"></label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary" th:text="#{save}">submit</button>
            </form>
            <button class="w-100 btn btn-lg btn-light mt-3" onclick="history.back()">
                <i class="bi bi-arrow-left"></i> <a th:text=" #{back}"></a>
            </button>
        </main>
</body>

</html>