<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
    <title th:fragment="title">[TITEL]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <div class="d-flex align-items-center mb-3">
                <!-- Block: Header -->
                <img class="border-end me-3" width="110" th:src="@{/img/onlyicon-error.png}" />
                <h1 class="mb-0 fs-3" th:text="#{error}"></h1>
        </div>
            <!-- Block: Info List -->
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <span th:text="${error}"></span>
                </li>
                <li class="list-group-item">
                    <span class="fw-bold" th:text="#{status} + ': '"></span>
                    <span th:text="${status}"></span>
                </li>
                <li class="list-group-item">
                    <span class="fw-bold" th:text="#{time} + ': '"></span>
                    <span th:text="${timestamp}"></span>
                </li>
                
            </ul>
            <!-- Block: Back Button -->
            <button class="w-100 btn btn-lg btn-light" onclick="history.back()">
                <i class="bi bi-arrow-left"></i>
                <a th:text=" #{back}"></a>
            </button>
        </main>
    </th:block>
</body>

</html>