<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
    <title th:fragment="title">[TITEL]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <!-- Block: Header -->
            <img class="w-50 mx-auto mb-3" th:src="@{/img/warning.png}"/>
            <h1 class="mb-3" th:text="#{error}"></h1>
            <!-- Block: Info List -->
            <ul class="list-group mb-3">
                <li class="list-group-item"> <h5 th:text="#{errorType} + ': ' + ${error}"></h5></li>
                <li class="list-group-item"><h5 thtext="#{status} + ': ' + ${status}"></h5></li>
                <li class="list-group-item"><h5 th:text="#{time} + ': ' +${timestamp}"></h5></li>
                <li class="list-group-item"><h5 th:text="#{exception} + ': ' +${exception}"></h5></li>
            </ul>
            <!-- Block: Back Button -->
            <button class="w-100 btn btn-lg btn-light" onclick="history.back()">
                <i class="bi bi-arrow-left"></i>
                <a th:text=" #{back}"></a>
            </button>
        </main>
        <!-- <table>
            <tr>
                <td>Date</td>
                <td th:text="${timestamp}" />
            </tr>
            <tr>
                <td>Path</td>
                <td th:text="${path}" />
            </tr> 
            <tr>
                <td>Error</td>
                <td th:text="${error}" />
            </tr>
            <tr>
                <td>Status</td>
                <td th:text="${status}" />
            </tr>
            <tr>
                <td>Message</td>
                <td th:text="${message}" />
            </tr>
            <tr>
                <td>Exception</td>
                <td th:text="${exception}" />
            </tr>
            <tr>
                <td>Trace</td>
                <td>
                    <pre th:text="${trace}" />
                </td>
            </tr>
        </table> -->
    </th:block>
</body>

</html>