<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
   <th:block th:fragment="title">
      <title>Home - Trintel</title>
   </th:block>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <th:block th:fragment="content">
      <h1><span th:text="#{welcome}"></span>, <span th:text="${forename}"></span>!</h1>
      <p th:text="#{homeDescription}"></p>
      <div class="row row-cols-1 row-cols-xl-3 g-3">
         <!-- Home tiles for admins -->
         <div class="col" sec:authorize="hasRole('ADMIN')">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-grid"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{openAdminPanelTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{openAdminPanelDescription}"></p>
                  <a th:href="@{/admin-panel}" th:text="#{openAdminPanel}"></a>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('ADMIN')">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-pencil"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{manageApplicationTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{manageApplicationDescription}"></p>
                  <div class="d-flex gap-2 flex-column flex-md-row">
                     <a th:href="@{/companies}" th:text="#{manageCompanies}"></a>
                     <span class="d-none d-md-block">|</span>
                     <a th:href="@{/students}" th:text="#{manageStudents}"></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('ADMIN')">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-binoculars"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewDataTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewDataDescription}"></p>
                  <div class="d-flex gap-2 flex-column flex-md-row">
                     <a th:href="@{/transactions}" th:text="#{viewAllTransactions}"></a>
                     <span class="d-none d-md-block">|</span>
                     <a th:href="@{/statistics-Admin}" th:text="#{viewAllStatistics}"></a>
                  </div>
               </div>
            </div>
         </div>

         <!-- Home tiles for students -->
         <div class="col" sec:authorize="hasRole('STUDENT')">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-briefcase"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewCompanyProfileTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewCompanyProfileDescription}"></p>
                  <a th:href="@{/company}" th:text="#{viewCompany}"></a>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('STUDENT')">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-cart"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewTransactionsTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewTransactionsDescription}"></p>
                  <a th:href="@{/transactions}" th:text="#{viewTransactions}"></a>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('STUDENT')">
            <div class="card">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-bar-chart-line"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewStatisticsTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewStatisticsDescription}"></p>
                  <a th:href="@{/statistics}" th:text="#{viewStatistics}"></a>
               </div>
            </div>
         </div>
      </div>
   </th:block>
</body>

</html>