<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
	<th:block th:fragment="title"><title>Login - Trintel</title></th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
	<th:block th:fragment="content">
		<style>body{height:100%;padding-top:0;} html{height:100%;}</style>
		<main class="form-login">
						<h2 class="login-heading mb-4">Login</h2>
		<p class="alert alert-danger" th:if="${param.error}">Invalid username and password!</p>
		<p class="alert alert-success" th:if="${param.logout}">You have been logged out.</p>
		<form th:action="@{/login}" method="post">
			<div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" name="username" required autofocus>
                <label for="floatingInputUsername">Username</label>
            </div>
			<div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>
			<div class="form-group">
				<input type="submit" value="Login" class="w-100 btn btn-lg btn-primary"/>
			</div>
		</form>
	</main>
	</th:block>
</body>
</html>