<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
    <title th:text="#{registerStudent}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <h1 class="mb-4" th:text="#{registerStudent}"></h1>
            <form action="#" th:action="@{/signup/student}" th:object="${user}" method="post">
                <div class="d-flex">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingForename" placeholder="forename"
                            name="forename" required autofocus>
                        <label for="floatingInputUsername" th:text="#{forename}"></label>
                    </div>
                    <div class="form-floating mb-3 ms-3">
                        <input type="text" class="form-control" id="floatingSurname" placeholder="surname"
                            name="surname" required>
                        <label for="floatingInputSurname" th:text="#{surname}"></label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingEmail" placeholder="email" name="email"
                        required>
                    <label for="floatingEmail" th:text="#{email}"></label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="password"
                        name="password" required>
                    <label for="floatingPassword" th:text="#{password}"></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">
                        <a th:text=" #{register}"></a></button>
                </div>
            </form>
        </main>
    </th:block>
</body>

</html>