<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <title th:fragment="title">[TITEL]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container mt-3 d-md-flex " style="align-items: center;">
            <div class="col-10">
                <h1 class="mb-3" th:text="#{totalstatistics}"></h1>
            </div>
        </div>

        <!-- Table -->
        <div class="container">
            <h3 class="mb-3" th:text="#{overview}"></h3>
            <div class="table-responsive">
                <!-- sortTable(column,inputType): the first parameter sets the column to be sorted. 
                    The second argument is 1 for Text input and 2 for numeric input.-->
                <table class="table table-hover" id="table1">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">
                                <div class="col d-flex">
                                    <button class="w-100 btn btn-mdr shadow-none" th:text="#{company}"
                                        onclick="sortTable(0,1)"></button>
                                    <div class="row align-items-center">
                                        <i class="bi bi-filter"></i>
                                    </div>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="col d-flex">
                                    <button class="w-100 btn btn-mdr shadow-none" th:text="#{turnover}"
                                        onclick="sortTable(1,2)"></button>
                                    <div class="row align-items-center">
                                        <i class="bi bi-filter"></i>
                                    </div>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="col d-flex">
                                    <button class="w-100 btn btn-mdr shadow-none"
                                        th:text="#{totalTransationBuyerVolume}" onclick="sortTable(2,2)"></button>
                                    <div class="row align-items-center">
                                        <i class="bi bi-filter"></i>
                                    </div>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="col d-flex">
                                    <button class="w-100 btn btn-mdr shadow-none"
                                        th:text="#{totalTransationSellerVolume}" onclick="sortTable(3,2)"></button>
                                    <div class="row align-items-center">
                                        <i class="bi bi-filter"></i>
                                    </div>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="col d-flex">
                                    <button class="w-100 btn btn-mdr shadow-none" th:text="#{amountTransactions}"
                                        onclick="sortTable(4,2)"></button>
                                    <div class="row align-items-center">
                                        <i class="bi bi-filter"></i>
                                    </div>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="company, iter : ${companies}">
                            <td><a th:text="${company.name}" th:href="'/statistics/' + ${company.id}"></a></td>
                            <td class="text-center" th:text="${totalTransationSellerVolume[iter.index] - totalTransationBuyerVolume[iter.index]} + '€'"></td>
                            <td class="text-center" th:text="${totalTransationBuyerVolume[iter.index]} + '€'"></td>
                            <td class="text-center" th:text="${totalTransationSellerVolume[iter.index]} + '€'"></td>
                            <td class="text-center" th:text="${numberConfirmed[iter.index]}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/sortTable.js}"></script>
    </th:block>

</body>

</html>