<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <title th:fragment="title">[TITEL]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div class="container mt-3 d-md-flex " style="align-items: center;">
            <div class="col-10">
                <h1 class="mb-3" th:text="#{totalstatistics}"></h1>
                <h3 class="mb-3" th:text="${company.name}"></h3>
            </div>
        </div>

        <!-- TODO: Font weight bold -->
        <div class="container">
            <h3 class="mb-3" th:text="#{overview}"></h3>
            <table class="table table-responsive" id="table2">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">
                            <div class="col d-flex">
                                <!-- <button class="w-100 btn btn-mdr" th:text="#{company}" onclick=""></button> -->
                                <a class="btn btn-light" th:text="#{company}" th:href="@{#}" ></a>
                                <div class="row align-items-center">
                                    <i class="bi bi-filter"></i>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="col d-flex">
                                <button class="w-100 btn btn-mdr" th:text="#{offers}" onclick=""></button>
                                <div class="row align-items-center">
                                    <i class="bi bi-filter"></i>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="col d-flex">
                                <button class="w-100 btn btn-mdr" th:text="#{turnover}" onclick=""></button>
                                <div class="row align-items-center">
                                    <i class="bi bi-filter"></i>
                                </div>
                            </div>
                        </th>
                        <th class="text-center">
                            <div class="col d-flex">
                                <button class="w-100 btn btn-mdr" th:text="#{amountUser}" onclick=""></button>
                                <div class="row align-items-center">
                                    <i class="bi bi-filter"></i>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="companyT : ${company.getRelatedCompanies}">
                        <td class="text-center" th:text="${companyT.name}"></td>
                        <td class="text-center" th:text="${company.getConfirmedTransactionsWith(companyT)}"></td>
                        <td class="text-center" th:text="${company.getNumberOffers(companyT)}"></td>
                        <!-- <td class="text-center" th:text="${company.getNumberTradedProducts(companyT)}"></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</body>

</html>