<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
    <title th:fragment="title" th:text="${company.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <div
            class="d-md-flex justify-content-md-between flex-md-row-reverse align-items-md-start">
            <div class="companylogo companylogo-lg float-md-end mb-3 mb-md-0 ms-md-3 mx-auto mx-md-0">
                <img th:src="@{'/company/logo/' + ${company.id}}" />
            </div>
            <div class="col-md-9">
                <h1 th:text="'Number confirmed:' + ${numberConfirmed}"></h1>
                <h1 th:text="'numberDistinctBuyers:' + ${numberDistinctBuyers}"></h1>
                <h1 th:text="'numberDistinctSellers:' + ${numberDistinctSellers}"></h1>
                <h1 th:text="'totalTransationBuyerVolume:' + ${totalTransationBuyerVolume}"></h1>
                <h1 th:text="'totalTransationSellerVolume:' + ${totalTransationSellerVolume}"></h1>
                <h1 th:text="'numberNonConfirmedBuyer:' + ${numberNonConfirmedBuyer}"></h1>
                <h1 th:text="'numberNonConfirmedSeller:' + ${numberNonConfirmedSeller}"></h1>
                
            </div>
        </div>
        <a class="float-end" th:href="@{/company/{id}/edit(id=${company.id})}" th:if="${#request.userPrincipal.principal.role} == 'ADMIN' or ${#request.userPrincipal.principal.company.id} == ${company.id}">
            <button class="btn btn-primary mt-md-3" type="submit" th:text="#{edit}"></button>
        </a>
    </th:block>
</body>

</html>