<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
	<title th:text="#{students}" th:fragment="title"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<th:block th:fragment="content">
		<h1 th:text="#{students}"></h1>
		<p th:text="#{sldescr}"></p>

		<!-- Search -->
		<form th:object="${student}" th:action="@{/students/search(q=${searchString})}" method="get">
			<div class="form-floating mb-3 inputandbutton">
				<input type="search" name="q" class="form-control border-end-0" id="search" placeholder="Search"
					th:value="${searchedStudent}">
				<label for="search" th:text="#{search}"></label>
				<button class="btn btn-outline-secondary border-start-0" type="submit">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</form>

		<th:block th:unless="${students.isEmpty()}">
			<!-- Student list -->
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-3">
				<div class="col" th:each="student : ${students}">
					<!-- Student card -->
					<div class="card">
						<div class="card-body d-sm-flex">
							<div class="d-flex align-items-center">
								<!-- Student info -->
								<div>
									<h5 class="card-title" th:text="${student.forename} + ' ' + ${student.surname}">
									</h5>
									<!-- Avoid null pointer exception -->
									<th:block th:unless="${student.company == null}">
										<!-- Student's company -->
										<a th:href="@{'/companies/' + ${student.company.id}}"
											class="text-decoration-none">
											<div class="d-flex align-items-center">
												<div class="companylogo companylogo-xs me-2">
													<img th:src="@{'/company/logo/' + ${student.company.id}}" />
												</div>
												<p class="card-text" th:text="${student.company.name}"></p>
											</div>
										</a>
									</th:block>
									<!-- If student isn't assigned, shouldn't happen normally -->
									<p th:if="${student.company == null}" th:text="#{unassigned}" class="mb-0"></p>
								</div>
							</div>
							<!-- Reassign button -->
							<div class="col mt-3 mt-sm-0">
								<div class="float-sm-end">
									<a th:href="@{'/student/' + ${student.id} + '/reassign'}" class="btn btn-light">
										<i class="bi bi-arrow-left-right"></i>
										<span th:text="#{reassign1}" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
		<!-- If there aren't any students -->
		<div class="alert alert-secondary" th:if="${students.isEmpty()}" th:text="#{noStudents}"></div>
	</th:block>
</body>

</html>