<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
    <title th:fragment="title" th:text="#{reassign}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small">
            <form action="#" th:action="@{'/student/' + ${studentID} + '/reassign'}" method="post">
                <h1 class="mb-3" th:text="${student.forename} + ' ' + #{reassign2}"></h1>
                <!-- Dropdown company chooser -->
                <div class="custom-select w-100 mb-3">
                    <select name="companyName" required>
                        <option value="" th:text="#{chooseCompany}"></option>
                        <option th:each="company : ${companies}" th:text="${company.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="w-100 btn btn-lg btn-primary"><span th:text=" #{submit}"></span>
                    </button>
                </div>
            </form>
            <button class="w-100 btn btn-lg btn-light mt-3" onclick="history.back()">
                <i class="bi bi-arrow-left"></i> <span th:text=" #{back}"></span>
            </button>
        </main>
    </th:block>
</body>

</html>