<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
	<th:block th:fragment="title">
		<title>Trintel</title>
	</th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<th:block th:fragment="content">
		<div class="d-lg-flex justify-content-between align-items-end mb-3">
			<div>
				<h1 th:text="#{transactions}"></h1>
				<p sec:authorize="hasRole('STUDENT')" class="mb-0" th:text="#{tldescrStudent}"></p>
				<p sec:authorize="hasRole('ADMIN')" class="mb-0" th:text="#{tldescrAdmin}"></p>
			</div>
			<div sec:authorize="hasRole('STUDENT')">
				<a class="btn btn-primary btn mt-3 mt-lg-0" th:href="@{/companies}">
					<i class="bi bi-plus"></i>
					<span th:text="#{newTransaction}" />
				</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown"
				aria-expanded="false" data-bs-auto-close="false">
				<i class="bi bi-filter"></i><span th:text="#{sortAndFilter}"></span>
			</button>
			<form class="dropdown-menu" th:action="@{/transactions}">
				<li>
					<h6 class="dropdown-header" th:text="#{sortBy}"></h6>
				</li>
				<li>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="sortByNewest" id="sortByNewest" value="true"
							th:checked="${param.sortByNewest == null || param.sortByNewest}">
						<label class="form-check-label" for="sortByNewest" th:text="#{newestFirst}">
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="sortByNewest" id="sortByOldest" value="false"
							th:checked="${param.sortByNewest != null && !param.sortByNewest}">
						<label class="form-check-label" for="sortByOldest" th:text="#{oldestFirst}">
						</label>
					</div>
				</li>
				<li>
					<h6 class="dropdown-header" th:text="#{filter}"></h6>
				</li>
				<select name="status" class="mb-3">
					<option value="" th:text="#{status}"></option>
					<th:block th:each="actiontype : ${actiontypes}" th:with="resolvedText=${#messages.msgOrNull('actiontype.' + actiontype.name)}">
						<option th:text="${resolvedText != null ? resolvedText : actiontype.name}" th:value="${actiontype.id}"> </option>
					</th:block>
				</select>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="buyer" placeholder="buyer" name="buyer"
						th:value="${param.buyer}">
					<label for="buyer" th:text="#{buyer}"></label>
				</div>
				<div class="form-floating">
					<input type="text" class="form-control" id="seller" placeholder="seller" name="seller"
						th:value="${param.seller}">
					<label for="seller" th:text="#{seller}"></label>
				</div>
				<button type="submit" class="btn btn-primary w-100 mt-3" th:text="#{submit}"></button>
			</form>
		</div>
		<div th:unless="${transactions.isEmpty()}">
			<!-- Card for every transaction -->
			<div th:each="transaction: ${transactions}">
				<a th:href="@{'/transaction/' + ${transaction.id}}" class="text-decoration-none">
					<div class="card mb-3">
						<!-- Alert marker if opposing company performed last action -->
						<div sec:authorize="hasRole('STUDENT')">
							<div
								th:if="${#request.userPrincipal.principal.company.id != transaction.actions[#lists.size(transaction.actions) - 1].initiator.company.id}">
								<div
									th:unless="${transaction.actions[#lists.size(transaction.actions) - 1].actiontype.name == 'Paid' or transaction.actions[#lists.size(transaction.actions) - 1].actiontype.name == 'Cancel'}">
									<span
										class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle">
										<span class="visually-hidden">New alerts</span>
									</span>
								</div>
							</div>
						</div>
						<div class="card-body d-flex align-items-center justify-content-between">
							<div class="w-100" th:with="latestActionType=${transaction.actions[#lists.size(transaction.actions) - 1].actiontype}">
								<!-- Badges for transaction status -->
								<div th:with="resolvedText=${#messages.msgOrNull('actiontype.' + latestActionType.name)}">
									<h4>
										<div class="badge" th:classappend="'bg-' + ${latestActionType.colorClass != null ? latestActionType.colorClass : 'secondary'}"
											th:text="${resolvedText != null ? resolvedText : latestActionType.name}"/>
									</h4>
								</div>
								<div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 align-items-center">
									<!-- Card text -->
									<div class="col">
										<span class="card-text text-muted fs-6" th:text="#{buyer}"></span>
										<span class="card-text text-black">
											<h5 th:text="${transaction.buyer.name}"></h5>
										</span>
									</div>
									<div class="col">
										<span class="card-text text-muted me-5 fs-6" th:text="#{seller}"></span>
										<span class="card-text text-black">
											<h5 th:text="${transaction.seller.name}"></h5>
										</span>
									</div>
									<div class="col">
										<span class="card-text text-muted fs-6" th:text="#{product}"></span>
										<span class="card-text text-black">
											<h5 th:text="${transaction.product}"></h5>
										</span>
									</div>
									<div class="col">
										<span class="card-text text-muted fs-6" th:text="#{lastUpdate}"></span>
										<span class="card-text text-black">
											<h5
												th:text="${#temporals.format(transaction.actions[#lists.size(transaction.actions) - 1].date, 'dd-MM-yyyy')} + ' ' + ${#temporals.format(transaction.actions[#lists.size(transaction.actions) - 1].time, 'HH:mm')}">
											</h5>
										</span>
									</div>
								</div>
							</div>
							<i class="bi bi-chevron-right text-black ms-3" style="font-size:2rem;"></i>
						</div>
					</div>
				</a>
			</div>
		</div>
	</th:block>
</body>

</html>