<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
	<th:block th:fragment="title">
		<title>Trintel</title>
	</th:block>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<th:block th:fragment="content">
		<h1 th:text="#{transactions}"></h1>
		<div th:unless="${transactions.isEmpty()}">
			<!-- Card for every transaction -->
			<div th:each="transaction: ${transactions}">
				<a th:href="@{'/transaction/' + ${transaction.id} + '#n'}" class="text-decoration-none">
					<div class="card mb-3">
						<div class="card-body d-flex align-items-center justify-content-between">
							<!-- Badges for transaction status -->
							<div th:switch="${transaction.actions[#lists.size(transaction.actions) - 1].actiontype.name}">
								<h4 th:case="Request" class="mb-0">
									<div class="badge bg-danger me-3" th:text="#{requestTLV}"></div>
								</h4>
								<h4 th:case="Offer" class="mb-0">
									<div class="badge bg-warning me-3" th:text="#{offerTLV}"></div>
								</h4>
								<h4 th:case="Accept" class="mb-0">
									<div class="badge bg-success me-3" th:text="#{acceptTL}"></div>
								</h4>
								<h4 th:case="Cancel" class="mb-0"><div class="badge bg-light text-dark me-3" th:text="#{cancelTL}"></div></h4>
								<h4 th:case="Delivery" class="mb-0"><div class="badge bg-primary me-3" th:text="#{deliveryTLV}"></div></h4>
								<h4 th:case="Invoicing" class="mb-0"><div class="badge bg-dark me-3" th:text="#{invoicingTLV}"></div></h4>
								<h4 th:case="Paid" class="mb-0"><div class="badge bg-primary me-3" th:text="#{paidTL}"></div></h4>
								<h4 th:case="*" class="mb-0">
									<div class="badge bg-secondary me-3"
										th:text="${transaction.actions[#lists.size(transaction.actions) - 1].actiontype.name}">
									</div>
								</h4>
							</div>
							<div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 align-items-center" style="width: 90%">
								<!-- Card text -->
								<div class="col">
									<span class="card-text text-muted fs-6" th:text="#{buyer}"></span>
									<span class="card-text text-black">
										<h5 th:text="${transaction.buyer.name}"></h5>
									</span>
								</div>
								<div class="col">
									<span class="card-text text-muted me-5 fs-6" th:text="#{seller}"></span>
									<span class="card-text text-black">
										<h5 th:text="${transaction.seller.name}"></h5>
									</span>
								</div>
								<div class="col">
									<span class="card-text text-muted fs-6" th:text="#{product}"></span>
									<span class="card-text text-black">
										<h5 th:text="${transaction.product}"></h5>
									</span>
								</div>
								<div class="col">
									<span class="card-text text-muted fs-6" th:text="#{lastUpdate}"></span>
									<span class="card-text text-black">
										<h5 th:text="${#temporals.format(transaction.actions[#lists.size(transaction.actions) - 1].date, 'dd-MM-yyyy')} + ' ' + ${#temporals.format(transaction.actions[#lists.size(transaction.actions) - 1].time, 'HH:mm')}">
										</h5>
									</span>
								</div>
							</div>
							<i class="bi bi-chevron-right text-black ms-3" style="font-size:2rem;"></i>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- Button for new transaction -->
		<div class="d-flex justify-content-center" sec:authorize="hasRole('STUDENT')">
			<a class="btn btn-primary btn-lg" th:href="@{/companies}" th:text="#{newTransaction}"></a>
		</div>
		<p th:if="${transactions.isEmpty()}" th:text="#{noTransactionFound}"></p>
	</th:block>
</body>

</html>