<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout-fullscreen :: page">

<head>
    <title th:text="#{request}"> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <th:block th:fragment="content">
        <style th:replace="fragments/small-content :: content"></style>
        <main class="form-small text-break">
            <!-- Block: Header -->
            <h1 class="mb-3" th:text="#{request} + ' ' + #{requTo} + ' ' + ${transaction.seller.name}"></h1>
            <form th:action="@{'/transaction/' + ${companyID} + '/save'}" th:object="${action}" method="post" enctype="multipart/form-data">
                <!-- Block: Product -->
                
                    <div class="form-floating mb-3" th:object="${transaction}">
                        <input th:field="*{product}" type="text" class="form-control" id="reqProduct"
                            placeholder="product" name="Request_Product" required autofocus>
                        <label for="floatingReqProduct" th:text="#{product}"></label>
                    </div>
                    
                
                <!-- Block: Message -->
                <div class="form-floating mb-3">
                    <textarea th:field="*{message}" type="text" class="form-control" id="reqMessage" placeholder="message"
                        name="Request_Message" style="height:10rem"></textarea>
                    <label for="floatingReqMessage" th:text="#{message}"></label>
                </div>

                <!-- Block: Attachment -->
                <input name="attachment" placeholder="Company logo" class="form-control mt-3" type="file"
                    id="attachment" required>

                <!-- Block: Submit Button -->
                <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">
                    <span th:text="#{send}"></span>
                </button>
            </form>
            <a class="btn mt-3" th:href="@{'/transaction/' + ${companyID} + '/create/skip'}">
                <span th:text="#{startWithDifferentAction}"></span>
                <i class="bi bi-chevron-right"></i>
            </a>

            <!-- Block: Back Button -->
            <button class="w-100 btn btn-lg btn-light mt-3" onclick="history.back()">
                <i class="bi bi-arrow-left"></i>
                <span th:text=" #{back}"></span>
            </button>
        </main>
    </th:block>
</body>

</html>