<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/base :: page">

<head>
   <th:block th:fragment="title">
      <title>Home - Trintel</title>
   </th:block>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
   <th:block th:fragment="content">
      <h1><span th:text="#{welcome}"></span>, <span th:text="${forename}"></span>!</h1>
      <p th:text="#{homeDescription}"></p>
      <div class="row row-cols-1 row-cols-xl-3 g-3">

         <!-- Home tiles for admins -->
         <div class="col" sec:authorize="hasRole('ADMIN')">
            <div class="card h-100">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-grid"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{openAdminPanelTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{openAdminPanelDescription}"></p>
               </div>
               <div class="card-footer">
                  <a class="d-inline-block" th:href="@{/admin-panel}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{openAdminPanel}"></span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('ADMIN')">
            <div class="card h-100">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-pencil"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{manageApplicationTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{manageApplicationDescription}"></p>
               </div>
               <div class="card-footer">
                  <a class="d-inline-block" th:href="@{/companies}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{manageCompanies}"></span>
                  </a>
                  <a class="d-inline-block" th:href="@{/students}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{manageStudents}"></span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('ADMIN')">
            <div class="card h-100">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-binoculars"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewDataTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewDataDescription}"></p>
               </div>
               <div class="card-footer">
                  <a class="d-inline-block" th:href="@{/transactions}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{viewAllTransactions}"></span>
                  </a>
                  <a class="d-inline-block" th:href="@{/statistics-admin}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{viewAllStatistics}"></span>
                  </a>
               </div>
            </div>
         </div>

         <!-- Home tiles for students -->
         <div class="col" sec:authorize="hasRole('STUDENT')">
            <div class="card h-100">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-briefcase"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewCompanyProfileTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewCompanyProfileDescription}"></p>
               </div>
               <div class="card-footer">
                  <a class="d-inline-block" th:href="@{/company}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{viewCompany}"></span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('STUDENT')">
            <div class="card h-100">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-cart"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewTransactionsTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewTransactionsDescription}"></p>
               </div>
               <div class="card-footer">
                  <a class="d-inline-block" th:href="@{/transactions}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{viewTransactions}"></span>
                  </a>
               </div>
            </div>
         </div>
         <div class="col" sec:authorize="hasRole('STUDENT')">
            <div class="card h-100">
               <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                     <div class="icon-container me-2">
                        <i class="bi bi-bar-chart-line"></i>
                     </div>
                     <h5 class="card-title mb-0" th:text="#{viewStatisticsTitle}"></h5>
                  </div>
                  <p class="card-text" th:text="#{viewStatisticsDescription}"></p>
               </div>
               <div class="card-footer">
                  <a class="d-inline-block" th:href="@{/statistics}">
                     <i class="bi bi-box-arrow-up-right"></i>
                     <span th:text="#{viewStatistics}"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </th:block>
</body>

</html>